$header
      Example usage:

        sllar-server start


      List of server options:

        start   - starting server (package receiving and outputtting,
                  web-interface)

        stop    - stopping server

        renew   - recollecting information from received packages and
                  updating package database

        info    - getting information about current sllar-server
                  information

        help    - read this splendid information again
